@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --laranja: #FA550B;
    --azul: #0D4DFF;
    --amarelo: #FFC10B;
    --brancomenosbranco: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
html {
    font-family: 'poppins', sans-serif;
    background-color: var(--brancomenosbranco);
}
a {
    text-decoration: none;
    color: var(--azul);
}
.limitador {
    width: 1024px;
    margin: 0 auto;
}


.tarja-timer {
    height: auto;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.tarja-timer span {
    color: var(--laranja);
    font-weight: bold;
}
.tarja-timer .timer {
    margin: 0px 10px;
    color: var(--laranja);
    font-size: 22px;
}
.btn-timer {
    background-color: var(--azul);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}


/* BOTÃO FLUTUANTE */
.botao-flutuante {
    cursor: pointer;
    background-color: var(--azul);
    font-weight: bold;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: auto;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao-flutuante a {
    color: var(--amarelo);
}
.botao-flutuante:hover {
    background-color: var(--laranja);
}
/* .botao-flutuante img {
    height: 100%;
    position: relative;
    bottom: 1px;
} */

/* BOTÕES */
.botao {
    min-width: 300px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-family: "poppins";
    transition: 0.3s;
    margin: 30px 0;
    text-align: center;
}

    /* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--amarelo);
    min-height: 70px;

    z-index: 1;
    position: sticky;
    top: 0;
}


/* MENU */
.menu {
    width: 1000px;
}
.menu-links {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.menu-links a {
    transition: 0.2s;
    color: var(--azul);
    position: relative;
    top: -30px;
    margin: 50px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.menu-links a:hover {
    color: var(--laranja);
}
.logo {
    position: relative;
    top: 40px;
    height: 80px;
}
.logo img {
    height: 100%;
}

    /* MAIN */

/* PRÉ BANNER */
.pre-banner {
    text-transform: uppercase;
    width: 100%;
    height: 100vh;
    background-image: url(./imagens/ivo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chamada {
    position: relative;
    top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chamada h1 {
    line-height: 60px;
    font-size: 45px;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(223, 223, 223, 0.111);    
}
.chamada a {
    margin-top: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    border-radius: 50px;
    padding: 20px 40px;
    background-color: var(--azul);
    color: var(--amarelo);
}

/* BANNER */
.banner {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}
.banner-titulo, .banner-foto {
    width: 50%;
}
.banner-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.logo {
    height: 150px;
    position: relative;
    top: -15px;
}

/* FORMULARIO */
.aviso {
    background-color: var(--laranja);
    border-radius: 30px;
    padding: 30px;
}

.aviso h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 50px;
}
.aviso p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
}

/* CAMPO CADASTRO */
.formulario-social {
    background-color: var(--laranja);
    border-radius: 30px;
    padding: 30px;
}
.cadastro-texto {
    padding: 10px;
    border-radius: 30px;
    border: none;
    margin-bottom: 5px;
    width: 100%;
}
.cadastro-texto::placeholder {
    font-size: 15px;
    padding-left: 5px;
    font-family: 'poppins';
}

/* BOTÃO CADASTRO BANNER */
.btn-cadstro-banner {
    background-color: var(--amarelo);
    color: var(--azul);
}
.btn-cadstro-banner:hover {
    background-color: var(--azul);
    color: white;
}

/* BANNER IMAGEM */
.banner-foto {
    position: relative;
}
.selo-desconto {
    top: -30px;
    right: 0%;
    position: absolute;
    height: 150px;
    width: 150px;
}
.banner-foto img {
    width: 100%;
}


/* SEPARADOR */
.separador h2 {
    letter-spacing: 1px;
    color: white;
    font-size: 25px;
    line-height: 35px;
    width: 70%;
    text-align: center;
    margin: 40px auto 0;
    text-transform: uppercase;
}


/* SOBRE */
#sobre {
    color: white;
    background-color: var(--azul);
    padding: 50px;
    margin: -10px auto 0px;
    border-radius: 30px;
}
#sobre h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.bloco-descricao, .bloco-foto {
    width: 50%;
    text-align: center;
}
.bloco-foto {
    display: flex;
    justify-content: center;
}
.bloco-foto img {
    width: 55%;
    padding: 0px 10px;
    background-color: #fff;
    border-radius: 20px;
    border: 5px solid var(--amarelo);
}
.bloco-descricao {
    padding-left: 40px;
}
.bloco-descricao p {
    text-align: justify;
}


/* SEPARADOR - frase damasco */
.frase-damasco {
    margin-top: 30px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.frase-damasco h1 {
    font-size: 40px;
    line-height: 45px;
}
.frase-damasco span {
    position: relative;
    top: 8px;
    right: 3px;
    text-align: center;
    color: var(--laranja);
    font-size: 75px;
    text-transform: uppercase;
}


/* CURSO */
#curso {
    width: 100%;
    padding: 30px 0px;
}
#curso h2 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.box-curso {
    display: flex;
    justify-content: space-between;
}
.box-descricao {
    padding: 30px;
    background-color: var(--laranja);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-descricao > h2 {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: bold;
}
.box-descricao ul {
    margin-bottom: 30px;
    width: 100%;
}
.box-descricao ul li {
    position: relative;
    left: 20px;
    padding: 5px;
    font-size: 15px;
}
.box-descricao ul li span {
    font-weight: bold;
}
.box-descricao p {
    text-align: center;
    font-weight: bold;
}

/* FUNCIONAMENTO */
#funcionamento {
    color: white;
    border-radius: 30px;
    margin: -8px auto;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
#funcionamento h1 {
    font-size: 30px;
    margin: 30px 0 0px;
}

.box-funcionamento {
    display: flex;
    justify-content: center;
}

.funcionamento-item {
    background-color: var(--laranja);
    width: calc(100%/3);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: 0.2s;
}
.funcionamento-item p {
    padding: 0px 20px 20px;
}

.funcionamento-imagem {
    height: 100px;
    margin: 20px;
}
.funcionamento-imagem img {
    height: 100%;
}
.funcionamento-descricao > p > span {
    font-weight: bold;
}

/* DEPOIMENTOS */
#depoimentos {
    color: white;
    margin: 30px auto;
    text-align: center;
}
#depoimentos h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
.box-depoimentos {
    color: white;
    display: flex;
    overflow: auto;
}
::-webkit-scrollbar{
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #595959;
    border-radius: 30px;
}
.item-depoimento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
    background-color: #5883fb;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 30px;
}
.item-depoimento:hover {
    background-color: var(--azul);
}
.item-depoimento p {
    text-align: start;
    width: 650px;
    margin-bottom: 20px;
}
.item-depoimento p::after, .item-depoimento p::before {
    content: "''";
}
.item-depoimento span {
    text-transform: uppercase;
    font-style: italic;
    text-align: end;
}

/* VÍDEOS */
#videos {
    background-color: var(--azul);
    padding: 50px;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#videos > h2 {
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}
#videos > a {
    color: var(--azul);
    margin-top: 40px;
    margin-bottom: -10px;
    background-color: var(--amarelo);
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bolder;
    transition: 0.3s;
    font-size: 22px;
}
#videos > a:hover {
    background-color: var(--laranja);
    color: white;
}
.titulo {
    color: white;
    margin: 0px 50px;
    font-size: 80px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo p {
    margin: -20px;
}

iframe {
    border-radius: 15px;
}


/* VEJA MAIS */
#veja-mais {
    color: white;
    
    display: flex;
    flex-direction: column;
    background-color: var(--azul);
    padding: 0 50px;
    border-radius: 0 0 30px 30px;
}
.contato-form {
    text-align: center;
    width: 100%;
}
.contato-form h1 {
    font-size: 40px;
}
.contato-form p {
    margin-bottom: 30px;
}
.contato-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.insta {
    display: flex;   
    flex-direction: column;
    align-items: center;
}
.espaco-insta-post {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 20px 30px;
}
.insta > a {
    width: 300px;
    margin-top: -10px;
    color: var(--azul);
    background-color: var(--amarelo);
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bolder;
    transition: 0.3s;
    font-size: 22px;
}
.insta > a:hover {
    background-color: var(--laranja);
    color: white;
}


/* SOCIAL */
#social {
    display: flex;
    flex-direction: row;
    margin: 30px auto;
}
.social {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.social > .frase-damasco {
    color: white;
    margin-top: 0px;
}
.social-links {
    display: flex;
    justify-content: space-around;
}
.social-links a {
    transition: 0.3s;
    width: 150px;
}
.social-links a:hover {
    color: var(--laranja);
}
.imagem-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.imagem-social-media p {
    padding: 0 10px;
}
.social a img {
    width: 35px;
}

.duvidas {
    text-align: center;
}
.duvidas p {
    font-size: 20px;
}
.duvidas a {
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
}
.duvidas a:hover {
    color: var(--laranja);
}

/* FORMULARIO FINAL */
.formulario-social {
    width: 45%;
    color: white;
    text-align: center;
}
.formulario-social h1 {
    text-transform: uppercase;
    font-size: 35px;
}
.formulario-social p {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 20px;
}
.cadastro-btn-enviar {
    background-color: var(--amarelo);
    color: var(--azul);
    margin-top: 20px;
    margin-bottom: -5px;
}
.cadastro-btn-enviar:hover {
    background-color: var(--azul);
    color: white;
}


/* FOOTER */
footer {
    width: 100%;
    background-color: var(--amarelo);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-rodape > .menu-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.menu-rodape > .menu-links a {
    font-size: 15px;
}
.menu-rodape .menu-links .logo {
    position: relative;
    top: -30px;
}

.assinatura {
    text-align: center;
    font-size: 13px;
    padding-top: 30px;
}
.assinatura p span {
    font-weight: bold;
    text-transform: uppercase;
}
.assinatura p a {
    font-weight: bold;
}

@media (max-width: 768px) {

    .tarja-timer p {
        font-size: 12px;
        padding: 10px;
    }

    .pre-banner {
        background-position: 0 -100px;
    }

    .box-depoimentos {
        padding: 30px;
    }
    .box-depoimentos p {
        width: 500px;
    }
    .limitador {
        width: 768px;
    }
    main {
        width: 100%;
    }
    #sobre, 

    .selo-desconto {
        top: -40%;
        right: 50%;
    }

    #funcionamento {
        width: 100%;
    }
    .box-funcionamento {
        width: 100%;
        flex-wrap: wrap;
    }

    .formulario-social {
        width: 60%;
    }
    #social {
        align-items: center;
        flex-direction: column-reverse;
    }

}

@media (max-width: 560px) {
    .pre-banner {
        background-position: -130px 0;
    }
    .tarja-timer {
        text-align: center;
        flex-direction: column;
    }
    .tarja-timer p {
        font-size: 16px;
        padding: 0;
    }
    .chamada h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .limitador {
        width: 100%;
    }
    #banner {
        width: 100%;
    }
    .banner {
        flex-direction: column-reverse;
    }
    .banner-titulo {
        width: 100%;
    }
    .banner-foto, .banner-titulo {
        width: 100%;
    }
    .formulario-social {
        width: 100%;
    }
    #sobre {
        padding: 30px 10px;
    }
    .descricao {
        flex-direction: column-reverse;
    }
    .bloco-descricao, .bloco-foto {
        width: 100%;
    }
    .bloco-descricao {
        padding: 20px 10px;
    }
    #social {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
        padding: 10px;
    }
    .social {
        padding: 10px;
    }
    .botao-flutuante {
        display: none;
    }
    .social-links {
        flex-wrap: wrap;
        align-items: center;
        margin: 30px 0;
    }
    .box-funcionamento {
        flex-wrap: wrap;
    }
    .selo-desconto {
        top: -10%;
        left: 1%;
    }
    .frase-damasco h1 {
        font-size: 29px;
    }
    .frase-damasco h1 span {
        font-size: 60px;
    }
    #funcionamento h1 {
        padding: 0px 20px;
    }
    .box-funcionamento {
        width: 100%;
    }
    .funcionamento-item {
        width: 100%;
        margin: 0;
    }
    .box-depoimentos p {
        width: 250px;
    }
    /* .separador {
        position: relative;
        left: 5px;
        line-height: 35px;
        background-color: var(--azul);
        border-radius: 20px;
        padding: 1px 10px;
        color: white;
        filter: drop-shadow(-7px 10px 0px var(--laranja));
    } */
    .separador h2 {
        font-size: 20px;
        width: 90%;
    }
    .funcionamento-item {
        margin-bottom: 10px;
        width: 90%;
    }
}