@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --laranja: #FA550B;
    --azul: #0D4DFF;
    --amarelo: #FFC10B;
    --brancomenosbranco: #dbebff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
html {
    font-family: 'poppins', sans-serif;
    background-color: var(--brancomenosbranco);
}
a {
    text-decoration: none;
    color: var(--azul);
}
main {
    width: 1024px;
    margin: 0 auto;
}

.botao-flutuante {
    background-color: var(--azul);
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
}
.botao-flutuante img {
    height: 100%;
    position: relative;
    bottom: 1px;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--amarelo);
    height: 70px;
    z-index: 1;
    position: fixed;
}


/* MENU */
.menu {
    width: 1000px;
}
.menu-links {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.menu-links a {
    transition: 0.2s;
    color: var(--azul);
    position: relative;
    top: -30px;
    margin: 50px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.menu-links a:hover {
    color: var(--laranja);
}
.logo {
    position: relative;
    top: 40px;
    height: 80px;
}
.logo img {
    height: 100%;
}


/* BANNER */
#banner {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.banner {
    margin-top: 30px;
    width: 1366px;
    display: flex;
}
.banner-titulo, .banner-foto {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-titulo {
    position: relative;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 25px;
    line-height: 50px;
}
.banner-titulo span {
    position: relative;
    top: 5px;
    right: 3px;
    text-align: center;
    color: var(--laranja);
    font-size: 70px;
    text-transform: uppercase;
}
.banner-foto img {
    width: 80%;
}
.cadastro {
    display: none;
}
.cadastro input, .cadastro button {
    padding: 10px;
    border: 2px solid var(--azul);
    border-radius: 30px;
}
.cadastro input {
    width: 250px;
}
.cadastro input::placeholder {
    font-size: 15px;   
}
.cadastro button {
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    background-color: var(--azul);
    color: white;
    
}
.cadastro button:hover {
    background-color: var(--amarelo);
    color: var(--azul);
}


/* SOBRE */
#sobre {
    text-align: center;
    background-color: var(--azul);
    padding: 50px;
    border-radius: 30px;
    position: relative;
    top: -1px;
}

#sobre h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.descricao {
    display: flex;
}

.bloco-descricao, .bloco-foto {
    width: 50%;
}
.bloco-foto img {
    width: 50%;
    padding: 0px 10px;
    background-color: #fff;
    border-radius: 20px;
    border: 5px solid var(--amarelo);
}


/* OPEN */
.question-faq {
    padding: 5px 0;
    color: #fff;
}
.question-faq label {
    width: 400px;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.question-faq label::before {
    content: '+';
    font-size: 25px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.content {
    font-size: 14px;
    width: 400px;
    text-align: start;
}

.question-faq input[type="checkbox"] {
    display: none;
    position: relative;
    bottom: 10px;
}

.question-faq .content {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.question-faq input[type="checkbox"]:checked + label + .content {
    max-height: 150px;
}
.question-faq input[type="checkbox"]:checked + label::before {
    rotate: 45deg;
}

.question-faq input[type="radio"] {
    display: none;
    position: relative;
    bottom: 10px;
}

.question-faq .content {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}


/* FUNCIONAMENTO */
#funcionamento {
    margin: 50px 0;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#funcionamento h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: black;
}

.box-funcionamento {
    display: flex;
    justify-content: center;
}

.funcionamento-item {
    width: calc(100%/3);

    display: flex;
    flex-direction: column;
    padding: 10px;
}
.funcionamento-item p {
    padding: 0 20px;
}

.funcionamento-imagem {
    height: 100px;
    margin: 20px;
}
.funcionamento-imagem img {
    height: 100%;
}


/* VÃDEOS */
#videos {
    background-color: var(--azul);
    padding: 50px;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-video {
    display: flex;
}
#videos > a {
    color: var(--azul);
    margin-top: 40px;
    margin-bottom: -10px;
    background-color: var(--amarelo);
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bolder;
    transition: 0.3s;
    font-size: 22px;
}
#videos > a:hover {
    background-color: var(--laranja);
    color: white;
}
.titulo {
    color: white;
    margin: 0px 50px;
    font-size: 80px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo p {
    margin: -20px;
}

iframe {
    border-radius: 15px;
}

/* CURSO */
#curso {
    width: 1024px;
    padding: 30px 0;
}
#curso h1 {
    text-align: center;
    margin: 30px 20px;
}

.box-curso {
    display: flex;
    justify-content: space-between;
}
.box-descricao , .box-preco {
    height: 300px;
    width: 50%;
    padding: 30px;
    margin: 0 10px;
    background-color: var(--laranja);
    border-radius: 20px;
    color: white;
}
.box-descricao > h2 {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: bold;
}
.box-descricao ul li {
    position: relative;
    left: 20px;
}
.box-valores {
    display: none;
}
.box-preco {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.preco > h2 {
    font-size: 60px;
}
.box-preco a {
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
    color: var(--azul);
}

.aviso-telegram {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aviso-telegram p {
    font-size: 80px;
    font-weight: bolder;
    color: white;
}
.aviso-telegram a {
    border-radius: 30px;
    font-size: 22px;
    font-weight: bold;
    width: 60%;
    background-color: var(--amarelo);
    color: var(--azul);
    transition: 0.3s;
}
.aviso-telegram a:hover {
    background-color: var(--azul);
    color: white;
}


/* FORUMARIO CONTATO */
#contatos {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--azul);
    padding: 0 50px;
    border-radius: 0 0 30px 30px;
}
.contato-form {
    text-align: center;
    width: 100%;
}
.contato-form h1 {
    font-size: 40px;
}
.contato-form p {
    margin-bottom: 30px;
}
.contato-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.insta {
    display: flex;    
    justify-content: space-between;
}
.espaco-insta-post, .espaco-insta-video {
    width: 450px;
    margin: 20px;
}



/* SOCIAL */
.social {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.social h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: black;
    text-align: center;
}
.social-links {
    display: flex;
    justify-content: space-around;
}
.imagem-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.imagem-social-media p {
    padding: 0 10px;
}
.social a img {
    width: 35px;
}



/* FOOTER */
footer {
    width: 100%;
    background-color: var(--amarelo);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-rodape > .menu-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.menu-rodape > .menu-links a {
    font-size: 15px;
}
.menu-rodape .menu-links .logo {
    position: relative;
    top: 0;
}


.assinatura {
    text-align: center;
    font-size: 13px;
}
.assinatura p span {
    font-weight: bold;
    text-transform: uppercase;
}
.assinatura p a {
    font-weight: bold;
}


@media(max-width: 768px) {
    .banner {
        
    }
}